.aboutUs {
    width: 100%;
    height: 100%;
}

 .backImg{
    width:100%;
    height: 450px;
}

.aboutUs h1,
.aboutUs p{
    color:#000;
    text-align: center;
}

.aboutUs .about{
    width: 100%;
    display: flex;
    align-items:normal;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;

}

.about .left{
    text-align: center;
    margin-right:px;
    padding: 1rem;
    max-width: 800px;
}

.left .info{
color: rgb(37, 37, 229);
font-size: 20px;
}

.about .right{
    width: 550px;
}


.contact-heading{
    text-align: center;
    padding: 0.5rem;
}

label{
    color: #131111;
    margin-bottom: 0.5rem;
}

.contactForm{
    display: flex;
    flex-direction: column;
    padding:1rem;
    max-width: 500px;
}

.contactForm input, .contactForm textarea{
    margin-bottom: 1rem;
    padding: px 12px;
    font-size: 1.2rem;
    background-color: rgba(17, 15, 15, 0.1);
    border-color: rgba(7, 7, 7, 0.1);
    color: #1f1e1e;
}


